<main>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <p><a class="btn btn-outline-dark" href="https://localhost:44310/api/Weather/GetData">取得最新的三十六小時天氣預報資料</a></p>
        </section>

    </div>
</main>